%p#notice= notice

%p
  %strong Message:
  =@note.message

%p
  %strong Project:
  =@note.project

%p
  %strong User:
  =@note.User

= link_to 'Edit', edit_note_path(@note)
\|
= link_to 'Back', notes_path
